.drag-and-drop {
    position: absolute;
    z-index: 1000;
}

.drag {
    z-index: 1001;
}

img {
    user-drag: none; /* ドラッグ禁止 */
    user-select: none; /* 選択禁止 */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
    -ms-user-select: none; /* IE向け */
    
}