#background{
	background-color: #FFFFFF;
}

.title{
	font-size: 4vw;
	letter-spacing: 0.5em;
	font-family: 'UD デジタル 教科書体 N-R';
	color: #000000;
}
.circle {
  text-align: center;
    width: 20em;
    height: 20em;
    border: solid 15px red;
    border-radius: 50%;
}

.k{
	font-size: 30px;
	font-family: 'UD デジタル 教科書体 N-R';
	color: #000000;
}

.textbox {
  width: 200px;
  height: 50px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
}