body {
    font-family: "BIZ UDGothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1em;
    background-color: #a4daed;
    overflow: hidden;
}

h1 {
    margin-top: 2%;
}

h3 {
    margin: 0;
    margin-bottom: 0.3rem;
    letter-spacing: 0em;
    font-size: 1.5dvw;
}

.please {
    height: 17dvw;
    margin:4%;
    margin-top: 8%;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.3em;
    line-height: 10vh;
    border: 3px solid #000;
    border-radius: 0px;
    background-color: #d1f3ff;
}


.desc {
    text-align: center;
}

.button-panel {
    position: absolute;
    top: 48dvh;
    left: 5dvw;
    width: 15vw;
    height: 60dvh;
    display: flex;
    flex-direction: column;
}

#unlock {
    margin-bottom: 15%;
    height:25%;
    width: 100%;
    font-family: "BIZ UDGothic", sans-serif;
    font-size: 1.5dvw;
    line-height: 3dvw;
    letter-spacing: 0.07em;
    word-break: auto-phrase;
}

#backtotitle, #playagain{
    margin-top: 5%;
    height: 20%;
    width: 100%;
    font-family: "BIZ UDGothic", sans-serif;
    font-size: 1.5dvw;
    line-height: 3dvw;
    letter-spacing: 0.1em;
    word-break: auto-phrase;
}



#record, #record_detail {
    padding-right: 4dvw;
    display: flex;
    justify-content: right;
}

#record,
#record_detail,
#backtotitle,
#playagain {
    display: none; /* 初期状態は隠す */
}

/* ロック解除時に付与するクラス */
.unlocked #record {
    display: flex; /* 記録を表示（既存のflex設定を維持） */
}

.unlocked #record_detail {
    display: flex; /* 記録を表示（既存のflex設定を維持） */
}

.unlocked #backtotitle {
    display: block; /* ボタンを表示 */
}

.unlocked #playagain {
    display: block;
}

/* ロック中のガイダンス表示（必要に応じて） */
.locked-msg {
    display: block;
}
.unlocked .locked-msg {
    display: none;
}

#detail {
    margin-left: 5%;
    font-size: 1.8dvw;
}

.setting-disp {
    margin-left: 10%;
    margin-top: 3dvh;
    font-size: 1.6dvw;
}

.setting-disp tr {
    height: 2.8dvw;
}

.time_detail {
    margin-left: 3dvw;
    margin-top: 3dvh;
    width: 40dvw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.time, .count{
    margin-left: 3%;
}

#time_num, #count_num{
    font-family: "BIZ UDPGothic", sans-serif;
    margin-top: 5%;
    font-size: 4dvw;
}

.round {
    width: 10dvw;
}

.d-time {
    font-size: 2.3dvw;
    letter-spacing: 0.15em;
}

.m-count {
    text-align: center;
    margin-bottom:1dvw;
}
