body {
    font-family: "BIZ UDGothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1em;
    background-color: #a4daed;
}

h1 {
    margin-top: 2%;
}

.please {
    height: 17dvw;
    margin:4%;
    margin-top: 8%;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.3em;
    line-height: 10vh;
    border: 3px solid #000;
    border-radius: 0px;
    background-color: #d1f3ff;
}


.desc {
    text-align: center;
}

.button-panel {
    position: absolute;
    top: 48dvw;
    width: 100vw;
    height: 20%;
    display: flex;
}

#unlock {
    margin-left: 15%;
    width:15%;
    font-family: "BIZ UDGothic", sans-serif;
    font-size: 2.2dvw;
    line-height: 4dvw;
    letter-spacing: 0.07em;
}

#backtotitle, #playagain{
    margin-left: 5%;
    width: 25%;
    font-family: "BIZ UDGothic", sans-serif;
    font-size: 2.2dvw;
    line-height: 3dvw;
    letter-spacing: 0.1em;
}

#playagain {
    margin-left: 2%;
}

#record {
    display: flex;
}

#record,
#backtotitle,
#playagain {
    display: none; /* 初期状態は隠す */
}

/* ロック解除時に付与するクラス */
.unlocked #record {
    display: flex; /* 記録を表示（既存のflex設定を維持） */
}

.unlocked #backtotitle {
    display: block; /* ボタンを表示 */
}

.unlocked #playagain {
    display: block;
}

/* ロック中のガイダンス表示（必要に応じて） */
.locked-msg {
    display: block;
}
.unlocked .locked-msg {
    display: none;
}

#detail {
    margin-left: 5%;
    font-size: 1.8dvw;
}

.setting-disp {
    margin-left: 10%;
    font-size: 1.5dvw;
}

.time {
    margin-left: 3%;
}

#time_num {
    font-family: "BIZ UDPGothic", sans-serif;
    margin-top: 5%;
    font-size: 4dvw;
}