.popup-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.popup-overlay.show {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    background-color: #fff;
    border-radius: 14px;
    /* widthを320pxから350pxに拡大 */
    width: 350px; /* さらに大きく */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.272);
    overflow: hidden;
    transform: translateY(20px);
    transition: transform 0.3s ease-in-out;
}

.popup-overlay.show .popup-content {
    transform: translateY(0);
}

.popup-title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    /* 上下のマージンをさらに調整、左右のパディングも増やす */
    margin-top: 35px; /* 上部の余白をさらに増やす */
    margin-bottom: 5px;
    padding: 0 35px; /* 左右のパディングをさらに増やす */
}

.popup-message {
    font-size: 13px;
    color: #8e8e93;
    /* 下部のマージンをさらに調整、左右のパディングも増やす */
    margin-top: 10px;
    margin-bottom: 30px; /* 下部の余白をさらに増やす */
    padding: 0 35px; /* 左右のパディングをさらに増やす */
}

.popup-button {
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: #007aff;
    background-color: transparent;
    border: none;
    border-top: 0.5px solid #e0e0e0;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.popup-button:active {
    background-color: #f0f0f0;
}
