.img1 {
  position: absolute;
}

#img2 {
  position: absolute;
  top: 55%;
  left: 1%;
}

#img3 {
  position: absolute;
  top: 25%;
  left: 22%;
}

#img4 {
  position: absolute;
  top: 60%;
  left: 44%;
}

#img5 {
  position: absolute;
  top: 30%;
  left: 66%;
}

#img6 {
  position: absolute;
  top: 50%;
  left: 88%;
}

#carrot-1 {
  position: absolute;
	bottom: 15%;
	left: 5%;
	z-index: 4;
}
#carrot-2 {
  position: absolute;
	bottom: 17%;
	left: 6%;
	z-index: 3;
}

#carrot-3 {
  position: absolute;
	bottom: 19%;
	left: 7%;
	z-index: 2;
}

#carrot-4 {
  position: absolute;
	bottom: 21%;
	left: 8%;
	z-index: 1;
}


#orange-1 {
  position: absolute;
	bottom: 15%;
	left: 23%;
	z-index: 4;
}
#orange-2 {
  position: absolute;
	bottom: 17%;
	left: 23.5%;
	z-index: 3;
}

#orange-3 {
  position: absolute;
	bottom: 19%;
	left: 24%;
	z-index: 2;
}

#orange-4 {
  position: absolute;
	bottom: 21%;
	left: 24.5%;
	z-index: 1;
}


#grape-1 {
  position: absolute;
	bottom: 15%;
	left: 41.5%;
	z-index: 4;
}
#grape-2 {
  position: absolute;
	bottom: 17%;
	left: 41%;
	z-index: 3;
}

#grape-3 {
  position: absolute;
	bottom: 19%;
	left: 40.5%;
	z-index: 2;
}

#grape-4 {
  position: absolute;
	bottom: 21%;
	left: 40%;
	z-index: 1;
}


#apple-1 {
  position: absolute;
	bottom: 15%;
	left: 59%;
	z-index: 4;
}
#apple-2 {
  position: absolute;
	bottom: 17%;
	left: 58%;
	z-index: 3;
}

#apple-3 {
  position: absolute;
	bottom: 19%;
	left: 57%;
	z-index: 2;
}

#apple-4 {
  position: absolute;
	bottom: 21%;
	left: 56%;
	z-index: 1;
}


#question{
	font-size: 45px;
	letter-spacing: 0.5em;
	font-family: 'UD デジタル 教科書体 N-R';
	color: #FFFFFF;
}

#q1 {
	letter-spacing: 0.1em;
	font-family: 'UD デジタル 教科書体 N-R';
	font-size: 100px;
	color: white;
}
