
	.product_locate{
		position: absolute;
		left: 0%;
		width: 70%;
    	height: 70%;
    	top: 30%;
		z-index: 1;
	}

	.product_locate_overlay{
		position: absolute;
		left: 0%;
		width: 70vw;
    	height: 74vh;
    	top: 31dvh;
		z-index: 1;
	}

	.product_locate_overlay_2,
    .product_locate_overlay_3,
    .product_locate_overlay_0,
    .product_locate_overlay_1 {
		position: absolute;
        opacity: 0; /* 初期状態では非表示 */
        transition: opacity 0.3s; /* スムーズに切り替えるためのトランジション */
    }

	.product_locate_overlay_2 {
		left: 0;
		top: 0;
		height:37dvh;
		width:34dvw;
	}

	.product_locate_overlay_3 {
		left: 34dvw;
		height:37dvh;
		width:34dvw;
	}

	.product_locate_overlay_0 {
		left:0;
		top: 38dvh;
		height:30dvh;
		width:34dvw;
	}

	.product_locate_overlay_1 {
		left:34dvw;
		top: 38dvh;
		height:30dvh;
		width:34dvw;
	}


	.product_overlay_2 {
		position: absolute;
		left: 10%;
		top: 39%;
		width: 26%;
		z-index: 5;
	}

	.product_overlay_3 {
		position: absolute;
		left: 38%;
		top: 39%;
		width: 26%;
		z-index: 3;
	}

	.product_overlay_0 {
		position: absolute;
		left: 10%;
		top: 68%;
		width: 26%;
		z-index: 5;
	}

	.product_overlay_1 {
		position: absolute;
		left: 38%;
		top: 68%;
		width: 26%;
		z-index: 4;
	}


	.product_0 {
	    position: absolute;
	    width: 35%;
        height: 30%;
		z-index: 5;
	}

	.product_1 {
	    position: absolute;
	    width: 35%;
        height: 30%;
		z-index: 4;
	}


	.product_2 {
	    position: absolute;
	    width: 35%;
        height: 37%;
		z-index: 5;
	}


	.product_3 {
	    position: absolute;
	    width: 35%;
        height: 37%;
		z-index: 3;
	}
