	.product_locate{
		position: absolute;
		left: -25%;
		width: 125%;
    	height: 74%;
    	top: 30%;
		z-index: 1;
	}

	.product_locate_overlay{
		position: absolute;
		left: -25%;
		width: 125vw;
    	height: 74vh;
    	top: 30dvh;
		z-index: 1;
	}

	.product_locate_overlay_2,
    .product_locate_overlay_3,
    .product_locate_overlay_0,
    .product_locate_overlay_1 {
        opacity: 0; /* 初期状態では非表示 */
        transition: opacity 0.3s; /* スムーズに切り替えるためのトランジション */
    }

	.product_locate_overlay_2 {
		height:37dvh;
		width:62dvw;
	}

	.product_locate_overlay_3 {
		height:37dvh;
		width:62dvw;
	}

	.product_locate_overlay_0 {
		height:36dvh;
		width:62dvw;
	}

	.product_locate_overlay_1 {
		height:36dvh;
		width:62dvw;
	}


	.product_overlay_2 {
		position: absolute;
		left: 10%;
		top: 30%;
		width: 26%;
		z-index: 5;
	}

	.product_overlay_3 {
		position: absolute;
		left: 38%;
		top: 30%;
		width: 26%;
		z-index: 3;
	}

	.product_overlay_0 {
		position: absolute;
		left: 10%;
		top: 63%;
		width: 26%;
		z-index: 5;
	}

	.product_overlay_1 {
		position: absolute;
		left: 38%;
		top: 63%;
		width: 26%;
		z-index: 4;
	}

    .product_0 {
	    position: absolute;
	    width: 26%;
		z-index: 5;
	}

	.product_1 {
	    position: absolute;
	    width: 26%;
		z-index: 4;
	}


	.product_0 {
	    position: absolute;
	    width: 26%;
		z-index: 5;
	}


	.product_3 {
	    position: absolute;
	    width: 26%;
		z-index: 3;
	}