.basket {
    position: absolute;
    width: 20%;
     z-index: 3;
}

.question {
    position: absolute;
    width: 60%;
    height: 15%;
    left: 5%;
    top: 5%;
    border: 2px solid #000000;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 28px;
    touch-action: none;/*ダブルタップズーム禁止*/
}

#background {
    user-drag: none; /* ドラッグ禁止 */
    user-select: none; /* 選択禁止 */
    touch-action: none;/*ダブルタップズーム禁止*/
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
    -ms-user-select: none; /* IE向け */
}

.panel {
    position: absolute;
    left: 68%;
    width: 35%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to left, #ffffff 95%, transparent);
    opacity: 90%;
}

.list {
    position: absolute;
    width: 25%;
    height: 60%;
    left: 71%;
    top: 5%;
    z-index: 2;
    border: 2px solid #000000;
    background-color: ffffff;
    touch-action: none;/*ダブルタップズーム禁止*/
}

#list-1 {
    position: absolute;
    margin-top: 10%;
}
#list-2 {
    position: absolute;
    margin-top: 35%;
}
#list-3 {
    position: absolute;
    margin-top: 60%;
}
#list-4 {
    position: absolute;
    margin-top: 85%;
}

.check {
    position: absolute;
    height: 15%;
    width: 30%;
    margin-top: 58%;
    margin-left: 65%;
}

img {
    user-drag: none; /* ドラッグ禁止 */
    user-select: none; /* 選択禁止 */
    touch-action: none;/*ダブルタップズーム禁止*/
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
    -ms-user-select: none; /* IE向け */
}

.content::-webkit-scrollbar {
    display:none; /*スクロールバー非表示（Chrome・Safari）*/
}

