.basket {
    position: absolute;
    width: 20%;
}

.question {
    position: absolute;
    width: 60%;
    height: 15%;
    left: 5%;
    top: 5%;
    border: 2px solid #000000;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 28px;
    touch-action: none;/*ダブルタップズーム禁止*/
}

#background {
    user-drag: none; /* ドラッグ禁止 */
    user-select: none; /* 選択禁止 */
    touch-action: none;/*ダブルタップズーム禁止*/
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
    -ms-user-select: none; /* IE向け */
}

.list {
    position: absolute;
    width: 25%;
    height: 50%;
    left: 70%;
    top: 5%;
    border: 2px solid #000000;
    touch-action: none;/*ダブルタップズーム禁止*/
}

#list-1 {
    position: absolute;
    margin-top: 0%;
}
#list-2 {
    position: absolute;
    margin-top: 10%;
}
#list-3 {
    position: absolute;
    margin-top: 20%;
}
#list-4 {
    position: absolute;
    margin-top: 30%;
}


img {
    user-drag: none; /* ドラッグ禁止 */
    user-select: none; /* 選択禁止 */
    touch-action: none;/*ダブルタップズーム禁止*/
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
    -ms-user-select: none; /* IE向け */
}

.content::-webkit-scrollbar {
    display:none; /*スクロールバー非表示（Chrome・Safari）*/
}

