.logo {
    width: 100%;
    height: 65%;
}

.content {
    overflow-y:hidden;
}

.choose {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 5%;
    top: 60%;

}

.illust{
    width: 50%;
}

.amount {
    width: 50%;
}

.switch {
    --false: #e17c7c;
    --true: #4dac91;
}

input[type=checkbox] {
    appearance: none;
    height: 25%;
    width: 80%;

    background-color: #dcdcdc;
    position: relative;
    border-radius: 1.5em;
    cursor: pointer;
}

input[type=checkbox]::before {
    content: '';
    display: block;
    height: 80%;
    width: 35%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(23%);
    background-color: var(--false);
    border-radius: 1em;
    transition: .3s ease;
}

input[type=checkbox]:checked::before {
    background-color: var(--true);
    left: calc(100% - (23%));
}
