body {
    margin: 0;
    overflow: hidden; /* スクロールバーを非表示にする */
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    letter-spacing: 0.3rem;
}

h1{
    font-size: clamp(10px, 5vw, 35px);
    text-align: center;
}

h2{
    margin: 0;
    margin-top: 1%;
    margin-left: 5vw;
    font-size: clamp(10px, 4vw, 30px);
}

h3{
    font-size: clamp(8px, 2vw, 18px);
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 5vw;
    letter-spacing: 0.2rem;
}

h4 {
    font-size: clamp(6px, 1.5vw, 15px);
    color: #525252;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 5vw;
    letter-spacing: 0.1rem;
    line-height: clamp(0.5rem, 2vw, 1.1rem);
    word-break: auto-phrase;
}


.container {
    display: flex;
}

#title {
    height: 12%;
    border: 2px solid #ffad08;
    justify-content: center;
}

#format {
    height: 15%;
}


#type {
    height: 11%;
    border-top: 2px dotted #ffad08;
}

#type-disp {
    height: 11%;
    border-top: 2px dotted #ffad08;
}

#options {
    height: 11%;
    border-top: 2px dotted #ffad08;
}

#difficult {
    height: 19%;
    border-top: 2px dotted #ffad08;
}

#control {
    display: flex;
    justify-content: center;
    border-top: 2px dotted #ffad08;
}

.quest {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.radio-tile-group {
    display: flex;
    justify-content: left;
    width:100%;
    height:100%;

}

.radio-tile-group .input-container {
    position: relative;
    margin-top: 2%;
    height: 80%;
    aspect-ratio: 1/1;
}

.radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 65%;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 1rem;
    transition: transform 300ms ease;
}

.radio-tile-group .input-container .icon img {
    display: flex;
    fill: #000000;
    width: 95%;
    height: auto;
}

.radio-tile-group .input-container .radio-tile-label {
    text-align: center;
    font-size: clamp(8px, 2vw, 14px);
    letter-spacing: 0.05rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile {
    background-color: #292929;
    border: 2px solid #292929;
    color: white;
    transform: scale(1.1, 1.1);
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
    fill: white;
    background-color: #292929;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
    color: white;
    background-color: #292929;
}

.or {
    font-size: clamp(10px, 3vw, 30px);
    margin-left: 13%;
    margin-right: 10%;
    margin-top: 10%;
}

.counter {
    height: 80%;
    margin-top: .8%;
    margin-left: 5%;
}

.field {
    display: flex;
    height: 100%
}

.inputtext {
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.76) ;
    font-size: 45px;
    border: 2px solid #000000;
    border-left: 0;
    border-right: 0;
    width: 10%;
    text-align: left;
    padding-left: 15%;
}

.unit {
    display: flex;
    font-size: clamp(8px, 3vw, 30px);
    border: 2px solid #292929;
    border-left: 0;
    border-right: 0;
    padding-right: 5%;
    padding-top: 2%;
    align-items: center;
    width: 20%;
    justify-content: center;
    text-align: center;
}

.button {
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.76) ;
    font-size: 45px;
    cursor: pointer;
    padding: 0 6%;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 8px;
    outline: 0;
}

.button-upbottom {
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.76);
    font-size: 45px;
    cursor: pointer;
    padding: 0 5%;
    letter-spacing: 1rem;
    background-color: white;
    border: 2px solid #000000;
    border-left: 0;
    border-right: 0;
    outline: 0;
    height: 60%;
    margin-top: 1.5rem;
}

#title-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* 下部に要素を配置 */
    align-items: center;
    overflow: hidden; /* 背景がはみ出さないように */
}

.difficult-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: .5rem;
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #000000;
    padding: .1rem;
    margin: 1%;
}

.difficult-inputs .d-radio {
    flex: 1 1 auto;
    width: 50%
}

.difficult-inputs .d-radio input {
    display: none;
}

.difficult-inputs .d-radio .name {
    display: flex;
    cursor: pointer;

    border-radius: 0.5rem;
    border: none;
    padding: .4rem .4rem;
    margin: .2rem;
    margin-left: 2%;
    margin-right: 2%;
    color: rgba(0, 0, 0, 0.76);
    transition: all .15s ease-in-out;
}

.name img {
    width: 2.5rem;
    height: 2.5rem;
}

.name h3 {
    margin-left: 0;
}

.difficult-inputs .d-radio input:checked + .name {
    color: rgb(255, 255, 255);
    background-color: #000;
    font-weight: 600;
}

#game-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('game_background.png'); /* ここに画像パスを設定 */
    background-size: cover; /* 画面全体を覆うように画像を拡大縮小 */
    background-position: center;
    transition: transform 1s ease-in-out; /* スライドアニメーション */
    z-index: 1;
}

#press-start {
    position: relative;
    font-size: 2.5em;
    margin-bottom: 50px; /* 画面下からの距離 */
    animation: blink 1s infinite alternate; /* 点滅アニメーション */
    z-index: 2; /* 背景より手前に表示 */
    cursor: pointer; /* クリック可能であることを示す */
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* 背景がスライドして消えるためのクラス */
.slide-up {
    transform: translateY(-100%);
}

.container {
    display: flex;
    flex-direction: row;
    height: 17%;
}

#game-settings {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff; /* ゲーム設定画面の背景色 */
    color: rgb(0, 0, 0);
}
